// header
.site-branding{
    text-align: center;
    line-height: .6rem;

    .custom-logo-link{
            max-width: 25rem;
            max-height: 15rem;
            display: block;
            margin: 0 auto;
            overflow: hidden;
    }
}

.site-navigation{
    
}