// header
.site-branding{
    text-align: center;
    line-height: .6rem;

    .custom-logo-link{
            max-width: 15.625rem; // 250 px
            max-height: 10.625rem; // 170 px
            display: block;
            margin: 0 auto;
            overflow: hidden;
    }
}

// menu
@media (min-width: 768px){
    .navbar-expand-md .navbar-collapse {
        justify-content: center;
    }
}

nav.navbar-expand-md{
    border-bottom: .0625rem solid $color__border-abbr;
    padding-bottom: 3.125rem;
}

// sidebar
aside.widget-area{
        ul{
            li{
                list-style: none;
            }
        }
}
.top_menu{
    padding-top: 1rem;

    ul{
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0;

        li{
            list-style: none;
            padding: .5rem .688rem .5rem .688rem;
            margin: 0;
            
            svg{
                width: 1rem;
                color: $color__text-main;
                @include transition(.5s, ease);
                cursor: pointer;

                &:hover{
                    color: $color__link;
                }
            }
        }
    }

}
