// header
.site-branding{
    text-align: center;
    line-height: .6rem;

    .custom-logo-link{
            max-width: 15.625rem;
            max-height: 10.938rem;
            display: block;
            margin: 0 auto;
            overflow: hidden;
    }
}

// menu
@media (min-width: 768px){
    .navbar-expand-md .navbar-collapse {
        justify-content: center;
    }
}

nav.navbar-expand-md{
    border-bottom: .0625rem solid $color__border-abbr;
    padding-bottom: 3.125rem;
}

// sidebar
aside.widget-area{
        ul{
            li{
                list-style: none;
            }
        }
}