// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// transaction
@mixin transition($time, $type){
    transition: $time $type;
    -webkit-transition: $time $type;
    -moz-transition: $time $type;
    -ms-transition: $time $type;
    -o-transition: $time $type;
}

// opacity
@mixin opacity($amount) {
	opacity: $amount;
	-webkit-opacity: $amount;
    -moz-opacity: $amount;
    -ms-opacity: $amount;
    -o-opacity: $amount;
}

// transform scale
@mixin transform_scale($scale){
    transform: scale($scale);
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -ms-transform: scale($scale);
    -o-transform: scale($scale);
}

/* 
    ------ Center Absolute under relative
*/
@mixin cross_browser_transform_translate($top, $left){
    transform: translate($top, $left);
    -webkit-transform: translate($top, $left);
    -moz-transform: translate($top, $left);
    -ms-transform: translate($top, $left);
    -o-transform: translate($top, $left);
}
// extended mixin to center absolute
%center_absolute{
    position: absolute;
    left: 50%;
    top: 50%;
    @include cross_browser_transform_translate(-50%, -50%);
}

// button simple
%button_simple{
    background-color: $color__text-screen;
    color: $color__background-body;
    @include transition(0.3s, ease);
    border: none;
    border-radius: 0.1875rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: 1rem 2rem;

    &:hover{
        background-color: $color__link-visited;
    }
}

// button reverse
%button_reverse{
    background-color: $color__link-visited;
    color: $color__background-body;
    @include transition(0.3s, ease);
    border: none;
    border-radius: 0.1875rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: 1rem 2rem;

    &:hover{
        background-color: $color__text-screen;
    }
}