// woo commerce cart form
form.woocommerce-cart-form{
    td.product-remove{
        a.remove{
            font-size: 2rem;
            color: $notice_color;
            @include transition(0.3s, ease);

            &:hover{
                text-decoration: none;
                color: $danger_color;
            }
        }
    }

    td.product-quantity{
        .quantity{
            input[type=number]{
                max-width: 5rem;
            }
        }
    }
}

// shipping
.calculated_shipping{
    ul.woocommerce-shipping-methods{
        margin: 0;
        padding: 0;

        li{
            list-style: none;
        }
    }
}


// coupon
.coupon{
    display: flex;
    flex-direction: column;
    align-items: center;

    label{
        display: block;
        font-size: large;
        font-weight: bold;
        color: $color__link-visited;
    }

    input[type=text]{
        display: block;
        padding: .625rem 1rem;
        border-color: $color__link-visited;
        color: $color__link-visited;
    }

    button[type=submit].button{
        @extend %button_reverse;
    }
}

// update cart
.update_cart{
    margin: 2rem auto;
    display: block;
    min-width: 20%;
}

// Cart Calculation and Process to checkout
.cart-collaterals{
    text-align: center;
    padding-top: 2rem;

    .cart_totals{

        h2{
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            background-color: $color__background-button;
            padding-top: .5rem;
            padding-bottom: .5rem;            
        }

        table.shop_table{

            tbody{

                tr{

                    th,td{
                        border: .063rem dashed;
                        padding: .438rem .625rem;
                    }
                }
            }
        }

        .wc-proceed-to-checkout{
            margin-top: 3.125rem;

            a.checkout-button{
                @extend %button_simple;
            }
        }
    }
}