// cart form
form.cart{

    // simple products
    .quantity{
        input[type=number].qty{
            border: .063rem solid $color__text-screen;
            border-radius: 3px;
            padding: 0.4375rem 0.75rem;
            color: $color__text-screen;
        }
    }
    
    button[type=submit].button{
        @extend %button_simple;
    }

    // variant products
    table.variations{

        tbody{

            td.value{

                select{
                    border: none;
                    border-radius: 3px;
                    padding: 0.4375rem 0.75rem;
                    color: $color__text-screen;
                }
            }
        }

        // a/button - clear or reset_variations
        a.reset_variations{
            @extend %button_reverse;
            margin: 0 0 0 1rem;
            padding: .4375rem .75rem;
        }
    }

    div.single_variation_wrap{

        .variations_button{

            // quantity selection
            div.quantity{
                input[type=number].qty{
                    width: 30%;
                }
            }

            // add to cart button
            button[type=submit].button{
                @extend %button_simple;
            }
        }
    }
}

// description main & tab
.described{
    margin-top: 3.125rem;
    
    .woocommerce-tabs{

        ul.tabs{
            display: flex;
            margin: 0;
            padding: 0;

            li.active{
                a{
                    background-color: $color__link-visited;
                }
            }

            li{
                margin: 0 .1875rem;

                a{
                    @extend %button_simple;
                    padding: .75rem 1.125rem;
                    text-decoration: none;
                }
            }
        }
    }


    // related products
    section.related.products{
        margin-top: 3.125rem;
        
        >h2{
            color: $color__text-screen;
            text-transform: uppercase;
            border-bottom: .09375rem dashed;
        }
    }
}

// woo notice
.woocommerce-notices-wrapper{

    .woocommerce-message{

        background-color: $notice_color;
        color: $color__background-body;
        min-height: 52px;
        padding: 1.5rem;
        text-align: center;

        a.button{
            @extend %button_simple;
        }
    }
}